---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: "{{ meta.name }}"
  namespace: "{{ meta.namespace }}"
  labels:
    app: "{{ meta.name }}"
spec:
  output:
    to:
      kind: ImageStreamTag
      name: "{{ meta.name }}:latest"
  source:
    contextDir: "{{ context_dir }}"
    git:
      ref: "{{ git_ref }}"
      uri: "{{ git_uri }}"
    type: Git
  strategy:
    sourceStrategy:
      env:
        - name: APP_FILE
{% if (build_type|lower == 'python') or (build_type|lower == 'python27') or (build_type|lower == 'python36') %}
          value: "{{ app_file | default('app.py') }}"
{% else %}
          value: "{{ app_file }}"
{% endif %}
{% if git_ssl_verify|lower == 'false' %}
        - name: GIT_SSL_NO_VERIFY
          value: 'true'
{% endif %}
{% if build_type|lower == 'scala' %}
        - name: SBT_ARGS
          value: "{{ sbt_args }}"
        - name: SBT_ARGS_APPEND
          value: "{{ sbt_args_append }}"
{% endif %}
      from:
        kind: DockerImage
{% if (build_type|lower == 'python') or (build_type|lower == 'python27') %}
        name: "quay.io/radanalyticsio/oshinko-s2i-pyspark:latest"
{% elif (build_type|lower == 'python36') %}
        name: "quay.io/radanalyticsio/oshinko-s2i-pyspark-py36:latest"
{% elif (build_type|lower == 'java') %}
        name: "quay.io/radanalyticsio/oshinko-s2i-java-spark:latest"
{% elif (build_type|lower == 'scala') %}
        name: "quay.io/radanalyticsio/oshinko-s2i-scala-spark:latest"
{% else %}
        name: "{{ build_image }}"
{% endif %}
    type: Source
  triggers:
  - imageChange: {}
    type: ImageChange
  - type: ConfigChange
  - github:
      secret: "{{ meta.name }}"
    type: GitHub
  - generic:
      secret: "{{ meta.name }}"
    type: Generic
