---
apiVersion: radanalytics.io/v1
kind: SparkCluster
metadata:
  name: "{{ meta.name }}-spark"
  namespace: "{{ meta.namespace }}"
spec:
{% if spark_image %}
  customImage: "{{ spark_image }}"
{% elif build_type|lower == 'python36' %}
  customImage: "quay.io/radanalyticsio/openshift-spark-py36:2.4-latest"
{% endif %}
  worker:
    instances: "{{ executors }}"
  master:
    instances: "1"
